{
    "env": {
        "commonjs": true,
        "es6": true,
        "node": true,
        "jest/globals": true
    },
    "plugins": ["import", "jest"],
    "extends": [
        "eslint:recommended",
        "prettier"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "overrides": [
        {
            "files": ["*.js"]
        }
    ],
    "rules": {
        // Default
        "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
        "no-console": "warn",
        "no-eval": "error",
        "no-warning-comments": "warn",
        "import/first": "error"
    }
}
